.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* background-color: #2f3640; */

}

.food-card {
  height: 40%;
  width: 40%;
  font-weight: bold;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  padding: 0.8rem;
  color: white;
  background-color: #2f3640;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.food-card h2 {
  font-weight: bolder;
}
